 .modal-backdrop.show{
  opacity:0.16 ;
}
.setting_cancel_modal .modal-header .btn-close{
    border:0;
    padding:0;
    background:transparent;
    position: absolute;
    top:22px;
    right:24px;
  }
  .setting_cancel_modal.modal-dialog{
    margin-top:4%;
    max-width:656px;
  }
  .setting_cancel_modal .modal-content{
    background:#fff;
    box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  .setting_cancel_modal .modal-header{
    position:relative;
    padding:24px 24px 0 24px;
    border:0;
    justify-content: center;
  }
  .setting_cancel_modal .modal-title span{
    color: #7356C0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
  .setting_cancel_modal .modal-body{
    padding:24px 64px 40px 64px;
  }
  .form_element_modal{
    margin-bottom:24px;
  }
  .form_element_modal label{
    color: #3F2B89;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom:6px;
  }
  .form_element_modal select{
    max-width:343px;
    height:48px;
    background: #F7F9FC;
    border: 1px solid #EDF1F7;
    border-radius:8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color:#192038;
    padding-left:16px;
    padding-right:52px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }
  .form_element_modal svg{
    position:absolute;
    right: 16px;
    top: 14px;
    pointer-events:none;
  }
  .max_343{
    max-width:343px;
  }
  .form_element_modal textarea{
    resize:none;
    height:199px;
    overflow:auto;
    padding-top:14px;
    padding-left:16px;
    background: #F7F9FC;
    border: 1px solid #EDF1F7;
    border-radius: 8px;
  }
  .form_element_modal textarea::-webkit-scrollbar{
    width: 6px;
  }
  .form_element_modal textarea::-webkit-scrollbar-thumb{
    background-color: #eee;
    border-radius:6px;
  }
  .reason_cancel_btn{
    background: #7356C0;
    border-radius: 4px;
    min-width:174px;
    text-align:center;
    padding:13px 24px;
    color:#fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border:1px solid #7356C0;
    transition:all .4s ease;
  }
  .reason_cancel_btn:hover{
    background:#fff;
    color:#7356C0;
  }


  @media screen and (min-width:1500px){
    .setting_cancel_modal.modal-dialog{
      margin-top:12%;
    }
  }












  .setting_plan_modal .modal-header .btn-close{
    border:0;
    padding:0;
    background:transparent;
    position: absolute;
    top:22px;
    right:24px;
  }
  .setting_plan_modal.modal-dialog{
    margin-top:4%;
    max-width:902px;
  }
  .setting_plan_modal .modal-content{
    background:#fff;
    box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  .setting_plan_modal .modal-header{
    position:relative;
    padding:24px 24px 0 24px;
    border:0;
    justify-content: center;
  }
  .setting_plan_modal .modal-title span{
    color: #7356C0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
  .setting_plan_modal .modal-body{
    padding:24px 40px 40px 40px;
  }
  .plan_modal_cover{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .m_plan_item{
    padding-left:20px;
    padding-right:20px;
    width:calc(100% / 3);
  }
  .plan_p{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* Choose new Subscription Plan style */
  .plan_p span{
    color: #2E3A59;
    margin-left:8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .plan_p small{
    display: -webkit-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack:center;
    justify-content: center;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
  .plan_p small{
    width:24px;
    height:24px;
  }
  .plan_p{
    margin-bottom:24px;
  }
  .plan_month span{
    color:#2E3A59;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
  }
  .plan_month small{
    color: #8F9BB3;
    font-size: 12px;
    line-height: 16px;
  }
  .plan_month{
    margin-bottom:20px;
  }
  .plan_txt{
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #8F9BB3;
    margin-bottom:20px;
  }
  .plan_type{
    background: #F7F9FC;
    border: 1px solid #E4E9F2;
    border-radius: 8px;
    padding:32px 24px 24px 24px;
    min-height:408px;
    cursor:pointer;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
  }
  .plan_ul{
    padding-left:0;
    margin-bottom:0;
    list-style-type:none;
  }
  .plan_ul_p span{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #2E3A59;
    margin-left:8px;
  }
   
  .current_plan_btn{
    background: #7356C0;
    border-radius: 61px;
    height:32px;
    width:100%;
    display:block;
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    color:white;
    border:1px solid #7356C0;
    transition:all .4s ease;
    padding-bottom: 2rem;
  }
  .current_plan_btn:hover{
    background:transparent;
    color:#7356C0;
  }
  .m_plan_item input:checked ~ label{
    border-color:#B69EEA;
    background:rgba(234, 223, 252, 0.4);
  }
  .m_plan_item input{
    display: none;
  }
  .m_plan_item input:checked ~ label small{
    color:#3F2B89;
  }
  .m_plan_item input:checked ~ label small svg path{
    fill:#3F2B89;
  }
  .m_plan_item input:checked ~ label .plan_month span{
    color:#3F2B89;
  }
  @media screen and (min-width:1500px){
    .setting_plan_modal.modal-dialog{
      margin-top:12%;
    }
  }


