.stc_place_head,.stc_list_li{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.stc_h5{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3F2B89;
  margin:0;
}
.stc_p{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color:#3F2B89;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration:none;
  transition:all .4s ease;
}
.stc_p,.stc_srch_close,.search_normal{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.stc_p:hover{
  opacity:.7;
}
.stc_p img{
  margin-left:10px;
}
.stc_search_block{
  position:relative;
  margin-top:16px;
  display: flex;
}
.stc_search_input{
  display:block;
  /*width:calc(100% - 106px);*/
  width:75%;
  height:40px;
  border: 1px solid #EDF1F7;
  background: #F7F9FC;
  border-radius:8px;
  font-size: 14px;
  line-height: 20px;
  color:#2E3A59;
  font-family: 'Montserrat', sans-serif;
  padding-left:52px;
  padding-right:52px;
  transition:all .4s ease;
}
.search_normal{
  position: absolute;
  top: 8px;
  left: 16px;
}
.stc_search_input:focus{
  outline:none;
  border-color:#3F2B89;
}
.stc_search_input::-webkit-input-placeholder {
  color: #8F9BB3;
}
.stc_search_input::-moz-placeholder { 
  color: #8F9BB3;
}
.stc_search_input:-ms-input-placeholder {
  color: #8F9BB3;
}
.stc_search_input:-moz-placeholder { 
  color: #8F9BB3;
}
.stc_search_input.stc_search_place{
  width:25%
}
.stc_zip_code{
  text-align:center;
  padding-top:16px;
}
.ztc_zip_p{
  color:#997FD8;
  margin-top:12px;
  margin-bottom:0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.stc_srch_close,.stc_srch_close_2,.search_normal{
  border:0;
  padding:0;
  background:transparent;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor:pointer;
}
.stc_srch_close{
  position: absolute;
  top: 8px;
  right: 16px;
}
.stc_srch_close_2{
  position: absolute;
  top: 8px;
  right: 210px;
}
.stc_result_list{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

}
.stc_list_each{
  width:calc(100% / 3);
  margin-top:16px;
}
.stc_list_each ul{
  list-style-type: none;
  padding-left:0;
  margin-bottom:16px;
}
.stc_list_li p,.stc_list_li span{
  color:#8F9BB3;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin:0;
  white-space: nowrap;
}
.stc_list_each:not(:last-child){
  border-right:1px solid #E4E9F2;
}
.stc_list_each:first-child{
  padding-left:10px;
  padding-right:10px;
} 
.stc_list_each:nth-child(2){
  padding-left:10px;
  padding-right:10px;
}
.stc_list_each:last-child{
  padding-left:10px;
}
.stc_list_li:not(:last-child){
  margin-bottom:16px;
}
/* new section style */
.stc_drop_submit{
  background: #7356C0;
  border-radius: 4px;
  min-width:96px;
  height:38px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color:#fff;
  border:1px solid #7356C0;
  padding:0;
  transition:all .4s ease;
  cursor:pointer;
}
.stc_drop_submit:hover{
  color:#7356C0;
  background:#fff;
}
.stc_drop_submit:hover svg path{
  stroke:#7356C0;
}
.stc_drop_submit span{
  margin-right:8px;
}
.stc_drop_submit{
  display:inline-flex;
  align-items:center;
  justify-content:center;
}
.stc_place_drops{
  margin-top:16px;

}
.stc_drop{
  margin-bottom:24px;
  margin-right:14px;
}
.stc_drops{
  display: flex;
  flex-wrap: wrap;
}
.stc_drop_btn{
  border: 1px solid #B69EEA;
  border-radius: 4px;
  background:#fff;
  height:38px;
  color: #8F9BB3;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding-left:16px;
  padding-right:34px;
  position:relative;
}
.stc_drop_select{
  position:relative;
}
.stc_drop_btn img{
  position:absolute;
  right:10px;
  top:9px;
}
.stc_drop:last-child{
  margin-right:0;
}

.stc_slcted{
  display:block;
  color:#7356C0;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  margin-top:8px;
}




.stc_filtered{
  display: flex;
  justify-content: space-between;
}

.stc_filtered li{
  list-style: none;
}

.stc_filtered li a {
  text-decoration: none;
}









/* style streetIQ dropdowns */
.stc_drop_btn{
  border: 1px solid #B69EEA;
  border-radius: 4px;
  background: #fff;
  height: 38px;
  color: #8F9BB3;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding-left: 16px;
  padding-right: 34px;
  position: relative;
}
.stc_drop_btn img{
  position: absolute;
  right: 10px;
  top: 9px;
}
.stc_slcted{
  display: block;
  color: #7356C0;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  margin-top: 8px;
}
/* copy from here */
.slc_tag_span{
  color:#2E3A59;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-left:8px;
}
.slc_tag_span::before{
  content:'';
  display:inline-block;
  width:16px;
  height:16px;
  border-radius:50%;
  background: rgba(115, 86, 192, 0.16);
  border: 1px solid #7356C0;
  position: absolute;
  left: 8px;
  top: 7px;
  transition:all .4s ease;
}
.slc_drop_label{
  position:relative;
}
.slc_drop_label:hover .slc_tag_span::before,.slc_drop_label.active .slc_tag_span::before{
  background:#7356C0;
}
.stc_drop_dropdown .dropdown-menu{
  margin-top:8px;
}


.dash_856px{
  max-width:856px;
}



.button_expand_modal button{
  color: white;
  background:#7356C0;
  padding: 9px 15px;
  border-radius: 10px;
  border-color: transparent;
  position: absolute;
  bottom: 20px;
  right:20px;
}


.button_expand_modal button:hover{
  color:#7356C0;;
  background:white;
  border-color: #7356C0
}



.button_fixed button{
  position: absolute;
  bottom: 430px;
  padding: 9px 20px;
}
.button_fixed_2 button{
  position: absolute;
  bottom: 130px;
  padding: 9px 20px;
}

.streetIQ{
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
  background:#fff;
  padding: 20px 0
}
.streetIQ_menu{
  margin:0;
  padding:0;
  list-style-type: none;
}
.streetIQ_menu{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
 
}
.streetIQ_menu li .streetIQ_nav_a{
  color: #3F2B89;
  font-size: 16px;
  line-height: 24px;
  text-decoration:none;

  width: 6rem;
  display: block;
  padding:0 0 10px;
}
.streetIQ_menu li.active .streetIQ_nav_a{
  font-weight: 500;
  border-bottom:2px solid #7356C0;
  width: 6rem;
  display: block;
  padding:0 0 10px;
}
.streetIQ_menu li{
  margin-right:18px;
  display: flex;

}
.streetIQ_menu{
  border-bottom:1px solid #EADFFC;

}


.stc_list_li_height.stc_list_li{
  margin-bottom: 60px;

}



.no_data{
  font-size: 16px;
  color:#3F2B89;
  margin-top: 20px;
}