



.icon-wrapper{
    width:60%;
    .ant-slider-track{
  background-color: #7356C0 !important;

    }
    .ant-slider-handle{
        background: #FFFFFF;
        /* GreyLight */
        
        border: 0.5px solid #F0F2F9;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    }
}