


#dashboard .apexcharts-xaxis{
    display: none !important;
}

#dashboard .apexcharts-gridlines-horizontal{
    display: none !important;
}

#dashboard .apexcharts-toolbar{
    display: none;
}



#dashboard .apexcharts-xaxistooltip.apexcharts-xaxistooltip-bottom.apexcharts-theme-light{
    display: none;
}

#dashboard .apexcharts-yaxis{
    display: none
}