/*header-search*/
.dash_relative {
  position: relative;
}
.head_search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.dash_h1 {
  color: #3f2b89;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}
.search_box input {
  width: 450px;
  height: 48px;
  background: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 48px;
  border: 0;
  color: #2e3a59;
  font-size: 14px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  padding-left: 16px;
}
.search_box input:focus {
  outline: none;
}
.search_box input::placeholder {
  color: #8f9bb3;
  opacity: 1;
}
.search_box input:-ms-input-placeholder {
  color: #8f9bb3;
}
.search_box input::-ms-input-placeholder {
  color: #8f9bb3;
}
.search_box_flex {
  position: absolute;
  right: 2px;
  top: 3px;
}
.search_box_flex,
.search_icon,
.search_maximize {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.search_icon,
.search_maximize {
  width: 24px;
  height: 24px;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.search_icon:hover,
.search_maximize:hover,
.profil_img:hover {
  transform: scale(1.1);
}
/*.search_profil_parent{
  position: relative;
}*/

.search_profil {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-color: transparent;
  overflow: hidden;
  padding: 0;
}
.profil_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  right: 0.03rem;
  bottom: 0.02rem;
  object-fit: cover;
  margin: 0;
}
.search_icon,
.search_maximize {
  margin-right: 24px;
}
.profil_img {
  transition: all 0.4s ease;
}

/*Dashboard*/

.head_search_dashboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.choosen_place {
  background: #fff;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 16px 24px;
  width: 100%;
  position: relative;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  overflow: hidden;
}

.choose_search_section{
  padding:24px;
  max-height: 345px;
  overflow:hidden
}
.choose_modal_section{
  
  max-height: 490px;
  overflow-y: scroll ;
  overflow-x: hidden
}

.overflow_visible{
  overflow: visible;
}

.show_place {
  background: #fff;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 16px 24px;
  width: 33%;
  position: relative;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.dashboard_right {
  position: fixed;
  bottom: 40px;
  max-width: 852px;
  width: 100%;
}
.choosen_close {
  position: absolute;
  top: 16px;
  right: 24px;
  width: 20px;
  height: 20px;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.choosen_close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.choosen_h6 {
  color: #3f2b89;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.choosen_flex,
.gender_rates {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.choosen_item {
  width: calc(100% / 3);
  padding-right: 24px;
  overflow: visible;
}



.choosen_item_p {
  color: #8f9bb3;
  font-size: 12px;
  line-height: 16px;
  margin-top: 12px;
}
.choosen_h5 {
  color: #3f2b89;
  font-weight: 600;
  font-size: 58px;
  line-height: 72px;
  margin: 0;
  margin-top: 30px;
  text-align: center;
}
.choosen_show_text {
  color: #3f2b89;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  text-align: center;
}
.show_create_ad_place {
  background: #fff;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 16px 24px;
  width: 30%;
  position: relative;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}
.choosen_create_ad_text {
  color: #3f2b89;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  text-align: center;
}
.gender_rates .auds {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 50%;
}
.graph_rate {
  fill: wheat;
  text-align: center;
  overflow: hidden;

  font-size: 10px;
  font-family: "Montserrat";
}
.gender_rates .auds li {
  margin-bottom: 4px;
}
.gender_rates .auds_dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}
.auds_dot_1 {
  background: #3f2b89;
}
.auds_dot_2 {
  background: #573ea4;
}
.auds_dot_3 {
  background: #7356c0;
}
.auds_dot_4 {
  background: #997fd8;
}
.auds_dot_5 {
  background: #b69eea;
}
.mr_24px {
  margin-right: 24px;
}
.mr_16px {
  margin-right: 16px;
}
.auds_percent {
  color: #8f9bb3;
  font-size: 9px;
  line-height: 12px;
  margin-left: 8px;
}
.map {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}
.map img,
.map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dashboard_page .dash_menu {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  top: 0;
  min-height: calc(100vh - 132px);
}
.dashboard_page .dash_copy {
  position: absolute;
  bottom: 16px;
  left: 24px;
}

.dash_cover {
  padding: 40px 56px;
}
.dash_cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.dash_right {
  width: calc(100% - 290px);
  padding-left: 32px;
}

.card {
  left: 100%;
}

/*.dash_856px{
  max-width:856px;
}
*/

.choosen_item {
  position: relative;
  min-height: 150px;
}
.choosen_place {
  min-height: 200px;
}
.choosen_place {
  width: calc(100% - 32px);
}

/*new dashboards*/
.new_dashboard_right {
  width: 370px;
  right: 3rem;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
}

@media (min-height: 1000px) {
  .new_dashboard_right {
    top: 5rem;
  }
}

.dashboard_collapses {
  display: flex;
  flex-direction: column;

  width: 370px;
  position: relative;
  background: #ffffff;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  margin-bottom: 1rem;
}
@media (max-height: 990px) {
  .dashboard_collapses {
    margin-bottom: 0.3rem;
  }
}

.fixed_height {
  height: 64px;
}

.fixed_height_temp {
  height: 130px;
}

.dashboard_collapses .colapsed_items_flex > span:nth-child(1) {
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}
.dashboard_collapses .colapsed_items_flex > span:nth-child(2) {
  margin-right: 0.8rem;
  position: relative;
  top: 0.2rem;
}
.dashboard_collapses .colapsed_items_flex span > h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  letter-spacing: 0.0015em;

  /* Basic colors/Neutral 700 */

  color: #2e3a59;
}

.collapse_btn {
  position: absolute;

  right: 0.5rem;
  bottom: 0.01rem;
}
.collapse_btn_link {
  position: absolute;

  right: 1.2rem;
  top: 0.3rem;
}

.colapsed_items_flex {
  display: flex;
  position: relative;
  top: 1rem;
  margin-bottom: 0.5rem;
}

.collapsed_item {
  display: none;
}

.collapsed_item ol {
  width: 100%;
  display: grid;
  grid-template-areas:
    "top1 top2"
    "middle1 middle2"
    "bottom1 bottom2";
  padding-left: 1.8rem;
  margin-top: 0.5rem;
}
.collapsed_item ol li {
  margin-bottom: 0.8rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2e3a59;
}
.collapsed_item ol li:nth-child(1) {
  grid-area: top1;
}
.collapsed_item ol li:nth-child(2) {
  grid-area: middle1;
}
.collapsed_item ol li:nth-child(3) {
  grid-area: bottom1;
}
.collapsed_item ol li:nth-child(4) {
  grid-area: top2;
}
.collapsed_item ol li:nth-child(5) {
  grid-area: middle2;
}
.collapsed_item ol li:nth-child(6) {
  grid-area: bottom2;
}

.collapsed_item .collapsed_item_p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.0015em;

  /* Basic colors/Neutral 600 */

  color: #8f9bb3;

  align-self: flex-start;
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.collapsed_item .margin_bottom_reduce {
  margin-bottom: 0.5rem;

}

.collapsed_item .margin_reduce {
  margin-bottom: 0.5rem;

  margin-top: 0.5rem;
}


.temp_info_cont {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.collapsed_item_border {
  width: 330px;
  height: 1px;

  background: #e4e9f2;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  align-self: center;
}

.collapsed_item_open {
  width: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collapsed_item_open_flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pedestrians_measures {
  margin: 0 !important;
  display: flex;

  justify-content: space-between;
}

.pedestrians_measures p {
  margin: 0;
  padding: 0;
}

/*temper*/

.temp_measurements {
  width: 338px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
}

.temp_measurements span {
  display: flex;
  flex-direction: column;
}

.temp_measurements span p {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */

  letter-spacing: 0.0015em;

  /* Basic colors/Neutral 600 */

  color: #8f9bb3;
}

.temp_measurements span > span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  letter-spacing: 0.0015em;

  /* Basic colors/Neutral 700 */

  color: #2e3a59;
}

.date_picker_cont {
  position: relative;
}

.date_picker {
  width: 306px;
  height: 48px;
  border: transparent;
  outline: none;
  background-color: #edf1f7;
}

.date_picker_icon {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  pointer-events: none;
}
.city_picke{
  width: 306px;
  height: 48px;
  border: transparent;
  outline: none;
  background-color: #edf1f7;
  padding-left: 15px;
}
.data_picker_btn_group {
  display: flex;
  justify-content: space-between;
  width: 306px;
  align-self: center;
  padding-inline: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.data_picker_btn_group button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8f9bb3;
  background-color: transparent;
  border: transparent;
  outline: none;

}

.black {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vw;
  max-width: 100vw;
  background-color: rgb(194, 190, 190);
  opacity: 0.3;
  pointer-events: none;
}
