
.flex_analytics_container {
  display: flex;
  flex-direction: column;
}
 .analytics_block_grid {
  display: grid;
  grid-template-areas:

    "users users"
    "users users"
    "ad-1 ad-2"
    "survey-1 survey-2";

  grid-gap: 10px;
 margin-bottom: 2rem;
 margin-top: 20px;
}
.flex_analytics_container .analytics_block_flex{
  display: flex;
  justify-content: space-between;
}
.analytics_block_flex .card_analytics:first-child {

  width:49%;
  
}
.analytics_block_flex .card_analytics:last-child {

  width:49%;
  
}
.analytics_info_box {
  grid-area: ad-1;
}
.chart_and_info_box {
  grid-area: users;
  max-width: 100%;
  overflow: hidden;
}
.analytics_info_box_partners {
  grid-area: survey-2;
}
.ad_partners{
  grid-area: ad-2;
}

.survey_users{
  grid-area: survey-1
}

.card_analytics {
  position: relative;
  padding: 20px 20px 0 20px;
  background: rgba(225, 204, 245, 0.5);
  border-radius: 8px;
  display: flex;
}

.time_picker {
  display: flex;
  justify-content: flex-end;
}
.time_picker select {
  background-color: transparent;
  border: transparent;
  outline: none;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #8c62c6;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
  width: 91px;
}

.card_analytics_chart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
}

.card_analytics_data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  position: relative;
}
.card_analytics_data h1 {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8c62c6;
  white-space: nowrap;
  opacity: 0.8;
}

.card_analytics_data p {
  margin: 0;
  margin-bottom: 10px;

  font-family: "Mont";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c62c6;
}
.card_analytics_data p strong {
  color: #280d5a;
}
.card_analytics_data .data_total_active_ads {
  font-family: "Mont";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  margin: 0;
  letter-spacing: 0.0025em;
  color: #200b46;
}

.card_analytics:nth-child(2) {
  background: #fffcdd;
}

.card_analytics.card_analytics_2 .card_analytics_data p {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #db9841;
}

.card_analytics.card_analytics_2 .card_analytics_data p strong {
  color: #795c10;
}

.card_analytics.card_analytics_2 .card_analytics_data div h1,
p {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  color: #db9841;
}
.card_analytics.card_analytics_2 .card_analytics_data div p {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.0025em;
}

.card_analytics.card_analytics_2 .time_picker select {
  color: #db9841;
}

.analytics_info_box, .survey_users {
  background: #fafde2;
  border-radius: 8px;
  padding: 20px 20px 15px 20px;
}

.analytics_info_box .flexbox_info_box,
.ad_partners .flexbox_info_box,
.analytics_info_box_partners .flexbox_info_box,
.survey_users .flexbox_info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.analytics_info_box .flexbox_info_box > div,
.ad_partners .flexbox_info_box > div,
.analytics_info_box_partners .flexbox_info_box > div,
.survey_users .flexbox_info_box > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.analytics_info_box .flexbox_info_box p,
.analytics_info_box_partners .flexbox_info_box p,
.survey_users .flexbox_info_box p {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a6c249;
}

.analytics_info_box .flexbox_info_box > div h1,
.analytics_info_box .flexbox_info_box > div p,
.analytics_info_box_partners .flexbox_info_box > div h1,
.analytics_info_box_partners .flexbox_info_box > div p,
.ad_partners .flexbox_info_box > div h1,
.ad_partners .flexbox_info_box > div p,
.survey_users .flexbox_info_box > div h1,
.survey_users .flexbox_info_box > div p  {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a6c249;
}

.analytics_info_box_partners .flexbox_info_box > div h1,
.analytics_info_box_partners .flexbox_info_box > div p,
.ad_partners .flexbox_info_box > div h1,
.ad_partners .flexbox_info_box > div p
 {
  color: #8f9bb3;
}

.analytics_info_box .flexbox_info_box > div:first-child p,
.ad_partners .flexbox_info_box > div:first-child p,
.analytics_info_box_partners .flexbox_info_box > div:first-child p,
.survey_users .flexbox_info_box > div:first-child p {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.0025em;
}

.analytics_info_box .flexbox_info_box > div select,
.analytics_info_box_partners .flexbox_info_box > div select,
.ad_partners .flexbox_info_box > div select,
.survey_users .flexbox_info_box > div select {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a6c249;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  width: 55px;
}

.analytics_info_box_partners .flexbox_info_box > div select,
.ad_partners .flexbox_info_box > div select
 {
  color: #8f9bb3;
}

.analytics_info_box .flexbox_info_box > div .margin_bottom_zero,
.ad_partners .flexbox_info_box > div .margin_bottom_zero,
.analytics_info_box_partners .flexbox_info_box > div .margin_bottom_zero,
.survey_users .flexbox_info_box > div .margin_bottom_zero {
  margin: 0;
}
.analytics_info_box_partners, .ad_partners {
  background: #F7F9FC;
  border-radius: 8px;
  padding: 20px 20px 15px 20px;
}

.analytics_block_grid .chart_and_info_box  {
  position: relative;

  background: #ffffff;
  border: 1px solid #edf1f7;
  box-sizing: border-box;
  border-radius: 8px;
}
.analytics_block_grid .chart_and_info_box .header_info_box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #edf1f7;
  padding: 12px 20px 0 20px;
}
.analytics_block_grid .chart_and_info_box .chart {
  height: 100%;
}

.analytics_block_grid .chart_and_info_box .header_info_box label {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8f9bb3;
}

.analytics_block_grid .chart_and_info_box .header_info_box p {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #2e3a59;
}

  
  .chart_and_info_box
  .header_info_box
  .data_change_percent {
  color: #dbb840;
}
.analytics_block_grid .chart_and_info_box .header_info_box select {
  font-family: "Mont";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #2e3a59;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: transparent;
  border: transparent;
  outline: none;
  display: block;
  width: 82px;
  margin-top: 7px;
}
