#scroll ::-webkit-scrollbar{
    width:2em
}
#scroll ::-webkit-scrollbar-track{
    scrollbar-color:  #7356C0
}
#scroll ::-webkit-scrollbar-thumb :active{
    scrollbar-color:  #7356C0
}




@supports(scrollbar-color: #7356C0 #7356C0){
   #scroll{
    scrollbar-color: #7356C0 transparent;
    scrollbar-width: thin;
    
   }
 
}