

.modal{
.modal-content{
    h5{
        color:#7356C0;
        font-size: 16px;
    }
}
.modal-body{
    display:flex;
    flex-direction: column;
    align-items: center;


    span{
        color:#7356C0;
        font-size: 16px;
         &:first-of-type{
            font-weight: 700;
         }
    }
    
}
}