


.rows.rows_2{
    display: flex;
    justify-content: center !important;
    box-shadow: none !important;
}


.rows.rows_2 .pies .chart_contaioner_2{
    width:80%;
}



.show_anal_button{
    background-color: transparent;
    color: #7356C0;
    outline: none;
    border: transparent;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}


.border{
    width: 100%;
    border: 1px solid gray;
    margin-block: 30px;

}