.apexcharts-canvas text {
  fill: unset !important;
}

.apexcharts-canvas .apexcharts-subtitle-text {
  fill: #8f9bb3 !important;
  font-family: "Montserrat" !important;

  font-size: 14px !important;
  line-height: 20px !important;
}

#chart-report {
  padding-top: 20px;
  position: relative;
}
#chart-report .apexcharts-toolbar {
  display: none;
}
#chart-report .apexcharts-svg .apexcharts-legend {
  justify-content: flex-end;
  /* top: -58px !important;
  right: 10px !important;*/
}

#chart-report .apexcharts-legend {
  position: unset !important;
  margin-top: 0.8rem;
  /*padding: 0.1rem 0;*/
}
